# Local libraries I use for developing
ConsoleApplication1
FireXware_Blowfish
TestResults

# Ignore objects and archives.
*.[oa]
*.com
ui_*
*.class
*.dll
*.exe
*.so
bin/*
*/moc_*
*.user
*.user.*
*.pdb

#os generated
.DS_Store?
ehthumbs.db
Thumbs.db
*.swp

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
UpgradeLog*
_UpgradeReport*
*.opensdf
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug/
[Rr]elease/

#InstallShield
[Ss]ingle[Ii]mage/
[Dd][Vv][Dd]-5/
[Ii]nterm/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
